/* .bg-movido{
  background-image: url("../../../../assets/Imagenes/Fondos/giphy.gif");
    background-size:auto;
    background-position: center;
} */

.bg-header{
  background-color: #1c2031;
}

.fs-7{
  font-size: 16px;
}

.btn-data{
  background-color: var(--secondary);
  color: white;
}

.btn-data:hover{
  background-color: #126ea3;
  color: white;
}

.card-container {
  perspective: 50%;
}

.card-flip, .card-container {
  transform-style: preserve-3d;
  transition: all 0.2s ease;
}

.card-flip div {
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.back {
  transform: rotateY(-180deg);
}

.card-container:hover .card-flip {
  transform: rotateY(180deg);
}
.card-flip {
  display: grid; grid-template: 1fr / 1fr;
  grid-template-areas: "frontAndBack";
  transform-style: preserve-3d;
  transition: all 0.4s ease;
}

.front {
  grid-area: frontAndBack;
}

div .img-logo{
  backface-visibility: hidden;
  transform-style: preserve-3d;

  -webkit-animation: breathing 3s ease-out infinite alternate-reverse;
  animation: breathing 3s ease-out infinite normal;
}

.back {
  grid-area: frontAndBack;
  transform: rotateY(-180deg);
}

/* .bri{
  background-image: url(../../../../assets/img/optimizadas/logonuevardomovil2.gif);
  
  background-position: center;
  background-repeat: no-repeat;
  
  
 
}

.bg-movil{
  background-image: url(../../../../assets/img/optimizadas/fondomovido.gif);
  background-size: cover;
 
  background-position: center;
 
 
} */

.isFalse{
  color: var(--header-inactive);
}

.isTrue{
  color: var(--header-active);
}



@media (max-width: 500px) { 
    
  .b{
    height: auto;
  }
  .b2{
    height: auto;
  }
 
}

@media (max-width: 375px) { 
    
 .bri{
   background-size: 120px;
 }
 
}

@media (max-width: 320px) { 
    
  .bri{
    background-size: 110px;
  }
  
 }














@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(.9);
    transform: scale(.9);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9);
  }
}

