<body>
    

    <header>
       
        
        <nav class="navbar bg-header fixed-top d-none d-md-block">
            <div class="container-fluid " >
                
                <div class=" d-flex">
                    <a href="" class="text-decoration-none px-2 text-white m-auto fs-1" >
                        <img src="../../../../assets/Imagenes/Logos/FlowkaiLight.png" class="img-fluid " style="width: 220px;" alt="">
                        <!-- &nbsp;lowkai -->
                    </a>                    
                </div> 
                <div class="navbar-content d-flex justify-content-end">
                    
                    <ul class="nav">
                        <li class="nav-item">
                            <a href="" rel="noopener noreferrer" class="isTrue nav-item text-decoration-none fs-5 p-2 m-1" routerLink="" >
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="" rel="noopener noreferrer" class="isFalse nav-item text-decoration-none fs-5 p-2 m-1" routerLink="/portfolio" >
                                Contact
                            </a>
                        </li>
                        
                        <li class="nav-item">
                            <a href="" rel="noopener noreferrer" class="isFalse nav-item text-decoration-none fs-5 p-2 m-1" routerLink="/contacto" >
                                Suport
                            </a>
                        </li>
    
                       
                    </ul>
                </div>
            </div>
        </nav>
   
    
    
    <div class="d-md-none">
      <nav class=" navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </nav>
    
      <div class="collapse" id="navbarToggleExternalContent">
          <div class="container-fluid">
        <div class="bg-dark p-4 row">
            <div class="col-7">
                <h5 class="text-light fs-2"><img src="../../../../assets/Imagenes/Logos/Flowpng2.png" class="img-fluid " style="width: 50px;" alt=""></h5>
          <ul class="nav flex-column" >
            <li class="nav-item" >
                <a href="" rel="noopener noreferrer" class="nav-item text-decoration-none text-light fs-5 p-1 m-1 " routerLink="" >
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a href="" rel="noopener noreferrer" class="nav-item text-decoration-none text-light fs-5 p-1 m-1  "  routerLink="/portfolio">
                    Suport
                </a>
            </li>
           
            <li class="nav-item">
                <a href="" rel="noopener noreferrer" class="nav-item text-decoration-none  text-light fs-5 p-1 m-1 " routerLink="/contacto">
                    Contact
                </a>
            </li>
          
        </ul>
            </div>
    
            <div class="col-5 text-light bri  "></div>
        </div>
        </div>
      </div>
    </div>
    
    
    </header>
    </body>