<body>
    

    <header>
        <div class="container-fluid d-none d-md-block">
        
        <nav class="navbar navbar-black bg-dark fixed-top">
            <div class="container-fluid">
                
                <div class="navbar-brand">
                    <a href="" class="text-decoration-none text-white m-auto fs-1" >
                        <img src="../../../../assets/img/optimizadas/logonuevardo2.gif" class="img-fluid" style="width: 120px;" alt="">
                        &nbsp;Market
                    </a>
                </div> 
                <div class="navbar-content d-flex justify-content-end">
                    
                    <ul class="nav">
                        <li class="nav-item">
                            <a href="" rel="noopener noreferrer" class="nav-item text-decoration-none rounded shadow fs-5 p-2 m-1" routerLink="" >
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="" rel="noopener noreferrer" class="nav-item text-decoration-none rounded shadow  fs-5 p-2 m-1" routerLink="/portfolio" >
                                Suport
                            </a>
                        </li>
                        
                        <li class="nav-item">
                            <a href="" rel="noopener noreferrer" class="nav-item text-decoration-none rounded shadow  fs-5 p-2 m-1" routerLink="/contacto" >
                                Contact
                            </a>
                        </li>
    
                       
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    
    
    
      <nav class="navbar navbar-dark bg-black">
        <div class="container-fluid">
          <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </nav>
      
      <div class="collapse" id="navbarToggleExternalContent">
          <div class="container-fluid">
        <div class="bg-primary p-4 row">
            <div class="col-7">
                <h5 class="text-light fs-2">Market</h5>
          <ul class="nav flex-column" >
            <li class="nav-item" >
                <a href="" rel="noopener noreferrer" class="nav-item text-decoration-none text-light fs-5 p-1 m-1 btn-close" routerLink="" >
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a href="" rel="noopener noreferrer" class="nav-item text-decoration-none text-light fs-5 p-1 m-1 btn-close "  routerLink="/portfolio">
                    Suport
                </a>
            </li>
           
            <li class="nav-item">
                <a href="" rel="noopener noreferrer" class="nav-item text-decoration-none  text-light fs-5 p-1 m-1 btn-close" routerLink="/contacto">
                    Contact
                </a>
            </li>
          
        </ul>
            </div>
    
            <div class="col-5 text-light bri  "></div>
        </div>
        </div>
      </div>
    
    
    
    </header>
    </body>