<body class="" style="font-family: Regular;">

    <div class="container-fluid  pt-5 pb-5 bg-homedata" >     

       
        <div class="row mt-5 pt-2 pb-1 justify-content-center res">  
            <div class="col-12 text-center">
                <div><img class="hvr-bob" src="../../../../assets/Imagenes/Iconos/bank.png" width="45px" alt=""></div>
                <p class="fs-4 text-light">Data Market-Products</p>
            </div>       

        </div>

        <div class="row pt-5 d-none d-md-block fade-in"  >
            <div class="col pt-5 justify-content-center d-flex">

                <div  [routerLink]="['/industry']" class="card transp m-4 hvr-grow-shadow" style="width: 18rem;">                   
                    <div class="card-body ">
                        <img class="pb-2" src="../../../../assets/Imagenes/Extras/grapchic.png" width="60px" alt="">
                     <p class="fs-6 fw-bold" style="font-family: helvetica;">Social Media  sentimental analysis</p>
                     <hr class="border border-primary border-2 opacity-75" >
                     <p class="fs-7 card-text">Search companies, industries and individuals thoughts and feelings through main social media plataform in powerfull dashboard</p>
                     
                    </div>
                </div>
                
                <div [routerLink]="['/graphic', 2]" class="card m-4 hvr-grow-shadow" style="width: 18rem;">                   
                    <div class="card-body">
                        <img class="pb-2" src="../../../../assets/Imagenes/Extras/industry.png" width="60px" alt="">
                     <p class="fs-6 fw-bold" style="font-family: helvetica;">Industry Insights Dashboard</p>
                     <hr class="border border-primary border-2 opacity-75" >
                     <p class="fs-7 card-text">Get industry insights from our interactive dashboard as never before</p>
                     
                    </div>
                </div>
                
                <div [routerLink]="['/graphic', 3]"  class="card blue m-4 hvr-grow-shadow" style="width: 18rem;">                   
                    <div class="card-body">
                        <img class="pb-2" src="../../../../assets/Imagenes/Extras/market.png" width="60px" alt="">
                        <p class="fs-6 fw-bold" style="font-family: helvetica;">Market research</p>
                        <hr class="border border-secundary border-2 opacity-75" >
                        <p class="fs-7 card-text">Rearch a better audience and understand your customer with our digital user profile</p>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="row d-md-none fade-in">
            
            
            <div class="col d-flex justify-content-center">
                <div [routerLink]="['/industry']"  class="card transp m-4 hvr-grow-shadow" style="width: 18rem;">                   
                    <div class="card-body ">
                        <img class="pb-2" src="../../../../assets/Imagenes/Extras/grapchic.png" width="60px" alt="">
                     <p class="fs-6 fw-bold" style="font-family: helvetica;">Social Media  sentimental analysis</p>
                     <hr class="border border-primary border-2 opacity-75">
                     <p class="fs-7 card-text">Search companies, industries and individuals thoughts and feelings through main social media plataform in powerfull dashboard</p>
                     
                    </div>
                </div>
            </div>
    
            <div class="col-12 d-flex justify-content-center">
                <div [routerLink]="['/graphic', 2]"  class="card m-4 hvr-grow-shadow" style="width: 18rem;">                   
                    <div class="card-body">
                        <img class="pb-2" src="../../../../assets/Imagenes/Extras/industry.png" width="60px" alt="">
                     <p class="fs-6 fw-bold" style="font-family: helvetica;">Industry Insights Dashboard</p>
                     <hr class="border border-primary border-2 opacity-75">
                     <p class="fs-7 card-text">Get industry insights from our interactive dashboard as never before</p>
                     
                    </div>
                </div>
            </div>
    
            <div class="col-12 d-flex justify-content-center">
                <div [routerLink]="['/graphic', 3]"  class="card blue m-4 hvr-grow-shadow" style="width: 18rem;">                   
                    <div class="card-body">
                        <img class="pb-2" src="../../../../assets/Imagenes/Extras/market.png" width="60px" alt="">
                        <p class="fs-6 fw-bold" style="font-family: helvetica;">Market research</p>
                        <hr class="border border-secundary border-2 opacity-75">
                        <p class="fs-7 card-text">Rearch a better audience and understand your customer with our digital user profile</p>
                        
                    </div>
                </div>
            </div>

        </div>
              
    </div>

    



</body>