<footer class="" style="font-family: Bebas;">
    <div class="background col  container-fluid d-flex justify-content-start  ">
        <!-- Tamaño LG-->
        <div class="container text-center p-2 d-sm-none d-md-block d-none d-sm-block">
          <img src="./Imagenes/Logopagina2.png" alt="" width="350px" class="img-fluid">
          <p class="text-light">Flowkai 2022 - Todos los derechos reservados</p>
    
    
        </div>
        <!-- Tamaño SM-->
        <div class="container text-center p-2 d-md-none d-lg-block d-lg-none d-xl-block d-xl-none d-xxl-block d-xxl-none">
          <img src="./Imagenes/Logopagina2.png" alt="" width="350px" class="img-fluid">
          <p class="text-light">Flowkai 2022 - <br> Todos los derechos reservados </p>
    
    
        </div>
    
      </div>
</footer>
