
<body class="pt-2" style="font-family: Regular;" data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">

    <div class="container-fluid pt-4 bg-home1 " >

    
       

         <div id="carouselExampleIndicators" class="carousel slide ">
          
            <div class="carousel-inner text-light w-response">
              <div class="carousel-item active">

                <div class="row pt-md-5 px-4 pt-sm-0 ">                   
                        <div class="col-2 d-none d-xl-block"></div>
                        <div class="col-xl-4 col-md-6 col-sm-12 text-start pt-5 text-light" id="navbar-example2">
                            <p class="fs-7 text-focus-in" style="color: var(--secondary);">Welcome to FlowKai</p>
                            <h1 class=" fw-bold text-focus-in pt-4" >
                            Market Insights in a <br> democratic fashion
                            </h1>
        
                            <p class="fs-6 text-focus-in" style="font-family: Fit;">
                                Know better your market, client and industry. <br> 
                                Get better data, market insight or the perfect audience with <b style="font-family: Bold;">FlowKai</b> 
                           </p>
        
                          <a href="#scrollspyHeading1"> <button class="btn btn-more mt-4 mb-5 flicker-1  ">Learn More</button></a>
                        </div>
        
                        <div class="col-xl-4 col-md-6 col-sm-12 text-center pt-5 text-light">
                            <img class="hvr-bob fade-in" src="../../../../assets/Imagenes/Extras/graph.png" width="70%" alt="">
                        </div>
                        <div class="col-2 d-none d-xl-block"></div>
        
                 </div>

              </div>
              <div class="carousel-item">
                <div class="row pt-md-5 px-4 pt-sm-0 ">                   
                    <div class="col-2 d-none d-xl-block"></div>
                    <div class="col-xl-4 col-md-6 col-sm-12 text-start pt-5 text-light" id="navbar-example2">
                        <p class="fs-7 text-focus-in" style="color: var(--secondary);">Welcome to FlowKai</p>
                        <h1 class=" fw-bold text-focus-in pt-4" >
                            Obtain validated <br> candidates
                        </h1>
    
                        <p class="fs-6 text-focus-in" style="font-family: Fit;">
                            <b style="font-family: Bold;">FlowKai</b> The platform helps you find real candidates for your research by validating users identities and gathering profile information. This information assists users and researchers in matching with the best opportunities. 
                          
                       </p>
    
                      <a href="#scrollspyHeading1"> <button class="btn btn-more mt-4 mb-5 flicker-1  ">Learn More</button></a>
                    </div>
    
                    <div class="col-xl-4 col-md-6 col-sm-12 text-center pt-5 text-light">
                        <img class="hvr-bob fade-in" src="../../../../assets/Imagenes/Extras/home2.png" width="70%" alt="">
                    </div>
                    <div class="col-2 d-none d-xl-block"></div>
    
             </div>
              </div>             
            </div>
            <div class="carousel-controls">

                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active " aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                   
                  </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>    
        </div>        
          </div>
      


       
       

      <div class="row pt-5">
        <div class="col-12 pt-5">
            <div class="text-light text-center pt-5">
                <p class="fs-5">
                    To know more about us, our products and get early access click below 
                </p>
                <button class="btn btn-data fs-7 p-2 " style="font-family: Patron;" routerLink="/waitlist"> Join Waitlist </button>
            </div>
        </div>
      </div>

           
      
    </div>

    
    <app-resercher></app-resercher>
    <app-users></app-users>
    <app-data-market></app-data-market>
   
    <app-learn-more id="scrollspyHeading1"></app-learn-more>

</body>
