/* Color de fondo e imagenes */
.bg-home{
    background-color: #000000;
      /* background-image:  linear-gradient(rgba(6, 7, 28, 0.514), rgba(20, 20, 20, 0.558), rgba(8, 8, 8, 0.6)), url("../../../../assets/Imagenes/Fondos/home.jpg"); */
      background-image:  linear-gradient(rgba(6, 7, 28, 0.955), rgba(20, 20, 20, 0.823), rgba(8, 8, 8, 0.916)), url("../../../../assets/Imagenes/Fondos/home.jpg");
      /* background-image: url("../img/fodno4.jpg"); */
      background-size: cover;
      background-attachment: fixed;
     
      background-repeat: no-repeat;
      width: 100%;
      
     
  }

  

.bg-home2{
   
    background-color: var(--background-color-2);
    position: relative;
    background-attachment: fixed;
   
  
}

.bg-home3{
   
  background-color: var(--background-color-3);
  position: relative;
  background-attachment: fixed;
 

}

.bg-home1{
    background-color: var(--background-color-1);
    /* background-image:   url("../../../../assets/Imagenes/Fondos/principal.PNG"); */
    /* background-image: url("../img/fodno4.jpg"); */
    background-size: cover;
    background-attachment: fixed;
   
    background-repeat: no-repeat;
    width: 100%;
}

.bg-gift{
  background-color: #000000;
    background-image:  linear-gradient(rgba(6, 7, 28, 0.514), rgba(20, 20, 20, 0.558), rgba(8, 8, 8, 0.6)), url("../../../../assets/Imagenes/Fondos/giphy.gif");
  
    
   background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 70vh;
    
   
}

.curved {
  position: relative;
  background: var(--primary);
  height: 30vh;
  border-bottom-left-radius: 50% 100%;
  border-bottom-right-radius: 50% 100%;
}

.bg-recuadro{
 background-color: white;
 border-radius: 10px;
}


/* .bg-home3{
    background-color: rgb(32, 151, 255);
   
  height: 50vh;
  border-bottom-left-radius: 50% 100%;
  border-bottom-right-radius: 50% 100%;
  background-attachment: fixed;
} */

  .bg-home2::after {
    content: '';
    position: absolute;
    right: 0;
    left: -0%;
    top: 100%;
    z-index: 10;
    display: block;
    height: 35px;
    background-size: 35px 100%;
    background-image: linear-gradient(135deg, var(--background-color-2) 25%, transparent 25%), linear-gradient(225deg, var(--background-color-2) 25%, transparent 25%);
    background-position: 0 0;
  }

  

  .triangle {
    position: relative;
    background: var(--background-color-1);
  }
  
  .triangle::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 52px 52px 0 52px;
    border-color: var(--background-color-1) transparent transparent transparent;
    left: 50%;
    transform: translateX(-50%) translateY(100%);
  }

  /* -----------------------------------------------------*/

  /* Imagenes */

  .img-home{
    margin-top: 150px;
    margin-left: 30px;
  }

  .carrito{
    background-size: cover;
      background-attachment: fixed;
     width: 80px;
  }

  .data{
    width: 40%;
  }

  .transp{
    background-color: var(--background-color-1);
    border-color: var(--secondary);
    color: var(--secondary);
  }

  .blue{
    background-color: var(--secondary);
    border-color: var(--secondary);
    color: white;
  }



  /* -----------------------------------------------------*/

  /* Text style*/
  .titel{
    font-size: 80px;
  }

  .app{
    color: var(--primary);
  }

  .fs-7{
    font-size: 14px;
  }


  /* ---------------------------------------------------- */


  /* Efecto */

  /* Bob */
@-webkit-keyframes hvr-bob {
    0% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
    50% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @keyframes hvr-bob {
    0% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
    50% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @-webkit-keyframes hvr-bob-float {
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @keyframes hvr-bob-float {
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  .hvr-bob {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
    -webkit-animation-name: hvr-bob-float, hvr-bob;
    animation-name: hvr-bob-float, hvr-bob;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
  }

  /* Grow Shadow */
.hvr-grow-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
  }
  .hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
    
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  .text-focus-in {
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  }

  /* ----------------------------------------------
 * Generated by Animista on 2023-2-6 20:5:58
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.tracking-in-expand-fwd{animation:tracking-in-expand-fwd .8s cubic-bezier(.215,.61,.355,1.000) both}

/* ----------------------------------------------
 * Generated by Animista on 2023-2-6 20:7:49
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @keyframes tracking-in-expand-fwd{0%{letter-spacing:-.5em;transform:translateZ(-700px);opacity:0}40%{opacity:.6}100%{transform:translateZ(0);opacity:1}}
  /* Efecto-end */
  
  .fade-in{animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) both}

  /* ----------------------------------------------
 * Generated by Animista on 2023-2-6 20:12:54
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@keyframes fade-in{0%{opacity:0}100%{opacity:1}}

