<body style="background-color: var(--background-color-1); font-family: Helvetica;" class="pt-5">
    
<div class="pt-5 container-fluid" >
  <div class="row pt-5">
    <div class="col-12 text-center pb-3">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Graphics
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item"  (click)="drop = '1'" >Graphic 1</a></li>
          <li><a class="dropdown-item"  (click)="drop = '2'">Graphic 2</a></li>
          <li><a class="dropdown-item" (click)="drop = '3'">Graphic 3</a></li>
        </ul>
        <h3 class="text-light pt-2">{{titel}}</h3>
      </div>
    </div>
    <div class="col-2"></div>
    <div class="col-8 pt-5 pb-2" style="background-color: rgb(255, 255, 255);">
      <p class="fs-4 text-center">{{name}} <b>{{date | date:'yyyy-MM' }}</b></p>
          <ngx-charts-line-chart
          [view]="view"
          [scheme]="colorScheme"
          [legend]="legend"
          [legendTitle]="legendTitle"
          [legendPosition]="legendPosition"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [autoScale]="autoScale"
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [results]="dropDown()"
          [timeline]="true"
          (select)="onSelect($event)"
          (activate)="onActivate($event)"
          (deactivate)="onDeactivate($event)"
          >
        </ngx-charts-line-chart>

        <!-- <div>
          <button class="btn btn-dark mt-5" (click)="random()">Random</button>
        </div> -->
       

    </div>
    <div class="col-2"></div>
  

  </div>


</div>


<div class="">
 
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>

</body>