<body class="content">
    
    <div class="container-fluid">
        <div class="row mt-5 pt-5 text-center">
            <div class="col-12 text-light mt-5 pt-3">
                <div class="d-none d-md-block">
                <img class="m-2" src="../../../../assets/Imagenes/Logos/FlowKdark.png"  width="35%" alt="">
                <img class="m-2" src="../../../../assets/Imagenes/Extras/graphSoon.png" width="16%" alt="">
            </div>

            <div class="d-md-none">
                <img class="m-2" src="../../../../assets/Imagenes/Logos/FlowKdark.png"  width="65%" alt="">
                <img class="m-2" src="../../../../assets/Imagenes/Extras/graphSoon.png" width="35%" alt="">
            </div>
               <p class="fs-2 pt-3">Data that you can trust</p>
                <div class="lamp-effect">
                    <h1 class="coming-soon">Building, try again later</h1>
                  </div>
                
            </div>
        </div>
    </div>
</body>
