<body class="content">
    
    <div class="container-fluid">
        <div class="row mt-5 pt-5 text-center">
            <div class="col-12 text-light mt-5 pt-3">
               <p class="fs-2"><img class="pt-5 pb-3" src="../../../../assets/Imagenes/Extras/cooming.png" width="8%" alt=""> Coming Soon...</p>
                <div class="lamp-effect">
                    <h1 class="coming-soon">Building <img  src="../../../../assets/Imagenes/Extras/graphSoon.png" width="16%" alt=""> try again later</h1>
                  </div>
                
            </div>
        </div>
    </div>
</body>
