<body style="background-color: var(--background-color-1); font-family: Helvetica;" class="pt-5">
    
    <div class="pt-5 container-fluid" >

        <div class="p-5">
            <zingchart-angular [config]="config" [height]="500"></zingchart-angular>
           </div>

           <div class="p-5">
            <zingchart-angular [config]="config2" [height]="500"></zingchart-angular>
           </div>

           <div class="p-5">
            <zingchart-angular [config]="config3" [height]="500"></zingchart-angular>
           </div>

    </div>

</body>