.bg-home3{
    background: linear-gradient(to bottom, rgb(37, 43, 66), rgb(12, 14, 21));
    /* background-image:   url("../../../../assets/Imagenes/Fondos/principal.PNG"); */
    /* background-image: url("../img/fodno4.jpg"); */
   
    
   
    
}

.res{
    
        background: linear-gradient(to right,  rgb(37, 43, 66), rgb(12, 14, 21));
        /* background-image:   url("../../../../assets/Imagenes/Fondos/principal.PNG"); */
        /* background-image: url("../img/fodno4.jpg"); */
        
       
        
  
}

.activ{

    background: linear-gradient(to bottom,  rgba(19, 23, 34, 0),rgba(21, 80, 133, 1));
    padding-top: 3%;
    padding-bottom: 2%;
}

.inactive{
    background: none;
    padding-top: 3%;
    padding-bottom: 2%;
}

.line{
    width:35px; height:3px;
    border-color:#ffffff !important;
  }