<p>learn-more works!</p>

<body class="pt-5  bg-home"  style="padding-bottom: 20%;">

    <div class="container-fluid pt-3" >
        <div class="row pt-md-5 px-4 pt-sm-0 text-light " style="font-family: helvetica;">
                
                    <div class="col-12 pb-3 ">
                        <h4>What is <b>FLOWKAI</b>?</h4>
                        <p class="fs-6 pt-1">
                            Flowkai is a data market place  that connects you  high quality data whether you are a public or private institution. Flowkai platform can be used for  market search, product testing, survey, experiences and more ... straight from the source in a democratic, easy and secure way.
                        </p>
                    </div>
            <div class="contenedor">
                <div class="text-center">
               <img class="" src="../../../../assets/Imagenes/Fondos/learnmore2.png" alt="">
            </div>
               <div class="row texto-encima pt-2">
                    <div class="col-12 pt-3">
                        <h4>Why <b>FLOWKAI</b>?</h4>
                        <p class="fs-6 pt-1">
                            FLOWKAI is your one-stop solution for all your market research needs. With real-time access to a vast repository of candidates, market data, including industry trends, competitor analysis, and consumer insights, you can stay ahead of the curve and make data-driven decisions for your business . Whether you're a small startup or a large corporation, government or academic institution our user-friendly platform allows you to easily navigate, customize your research ,find the right audience based upon complete personal profile and connect with the data you need to gain a competitive edge in today's market
                        </p>
                    </div>
                    
                    <div class="row justify-content-center">
                        <div class="col-3 pt-3 d-flex hvr-grow-shadow ">
                            <div class="mt-2">
                                <img src="../../../../assets/Imagenes/Logos/user.png" width="30px" alt="">
                            </div>
                            <p class="fs-5 fw-bold p-2 text-start">scalability</p>
                        </div>

                        <div class="col-3  pt-3 d-flex hvr-grow-shadow">
                            <div class="mt-2">
                                <img src="../../../../assets/Imagenes/Logos/user.png" width="30px" alt="">
                            </div>
                            <p class="fs-5 fw-bold p-2 text-start">Flexibility</p>
                        </div>

                        <div class="col-3  pt-3 d-flex hvr-grow-shadow">
                            <div class="mt-2">
                                <img src="../../../../assets/Imagenes/Logos/user.png" width="30px" alt="">
                            </div>
                            <p class="fs-5 fw-bold p-2 text-start">Democratic</p>
                        </div>
                    </div> 

                    <div class="row justify-content-center">
                        <div class="col-3  pt-3 d-flex hvr-grow-shadow">
                            <div class="mt-2">
                                <img src="../../../../assets/Imagenes/Logos/user.png" width="30px" alt="">
                            </div>
                            <p class="fs-5 fw-bold p-2 text-start">Trust </p>
                        </div>

                        <div class="col-3  pt-3 d-flex hvr-grow-shadow">
                            <div class="mt-2">
                                <img src="../../../../assets/Imagenes/Logos/user.png" width="30px" alt="">
                            </div>
                            <p class="fs-5 fw-bold p-2 text-start">Efficient & Agile</p>
                        </div>

                        <div class="col-3  pt-3 d-flex hvr-grow-shadow">
                            <div class="mt-2">
                                <img src="../../../../assets/Imagenes/Logos/user.png" width="30px" alt="">
                            </div>
                            <p class="fs-5 fw-bold p-2 text-start">Ethical</p>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-3 pt-3 d-flex hvr-grow-shadow">
                            <div class="mt-2">
                                <img src="../../../../assets/Imagenes/Logos/user.png" width="30px" alt="">
                            </div>
                            <p class="fs-5 fw-bold p-2 text-start">Secure</p>
                        </div>
                  </div>

                  <div class="row pt-5">
                    <div class="col-12 text-center text-light">
                        <p class="fs-2 fw-bold">
                            Take your research to a whole new level with Flowkai
                        </p>
                    </div>
                </div>

                </div>

              
                   
        </div>
    </div>
    </div>
   
</body>
