
<body class="pt-5 pb-5 bg-home" style="font-family: Regular;">

    <div class="container-fluid pt-3 pb-5" >
        <div class="pt-5 container-fluid" >
        <div class="text-center row text-light pt-2 pb-3 text-focus-in">
            <div class="d-flex col justify-content-center">       
            <h1 class="fw-bold  pt-2">Industry Insights Dashboard</h1>
            <div class="mx-2"><img src="../../../../assets/Imagenes/Extras/icons8-gráfico-combinado-90.png" width="45px" alt=""></div>
          </div>
          </div>
          <p class="fs-6 text-focus-in p-4 fade-in" style="color: var(--secondary); margin-left: 10%;">Please select one of the following sources</p>
        </div>


          <div class="row d-none d-md-block fade-in"  style="font-family: helvetica;">
            <div class="col justify-content-center d-flex">

                <div  [routerLink]="['/graphic2']" class="card blue m-4 hvr-grow-shadow p-4 rounded" style="width: 18rem; height: 6rem;">                   
                    <div class="">                       
                     <p class="fs-6 fw-bold" style="font-family: Bold;">Australia Bureau of Statistics</p>
                     <hr class="border border-secundary border-2 opacity-75" >           
                     
                    </div>
                </div>
                
                <div  [routerLink]="['/graphic2']" class="card m-4 hvr-grow-shadow p-4 rounded" style="width: 18rem; height: 6rem;">                   
                    <div class="">                       
                     <p class="fs-6 fw-bold" style="font-family: Bold;">Australian Business Register (ABR) lookup</p>
                     <hr class="border border-primary border-2 opacity-75" >          
                     
                    </div>
                </div>
                
                <div  [routerLink]="['/graphic2']" class="card blue m-4 hvr-grow-shadow p-4 rounded" style="width: 18rem; height: 6rem;">                   
                    <div class="">                       
                     <p class="fs-6 fw-bold" style="font-family: helvetica;">Australian Prudential Regulation Authority (APRA)</p>
                     <hr class="border border-secundary border-2 opacity-75" >            
                     
                    </div>
                </div>
            </div>
        </div>

        <div class="row d-md-none fade-in" style="font-family: helvetica;">
            
            
            <div class="col d-flex justify-content-center">
                <div  [routerLink]="['/graphic2']" class="card blue m-4 hvr-grow-shadow p-4 rounded" style="width: 18rem; height: 6rem;">                   
                    <div class="">                       
                     <p class="fs-6 fw-bold" style="font-family: helvetica;">Australia Bureau of Statistics</p>
                     <hr class="border border-secundary border-2 opacity-75" >      
                     
                    </div>
                </div>
            </div>
    
            <div class="col-12 d-flex justify-content-center">
                <div  [routerLink]="['/graphic2']" class="card m-4 hvr-grow-shadow p-4 rounded" style="width: 18rem; height: 6rem;">                   
                    <div class="">                       
                     <p class="fs-6 fw-bold" style="font-family: helvetica;">Australian Business Register (ABR) lookup</p>
                     <hr class="border border-primary border-2 opacity-75" >            
                     
                    </div>
                </div>
            </div>
    
            <div class="col-12 d-flex justify-content-center">
                <div  [routerLink]="['/graphic2']" class="card blue m-4 hvr-grow-shadow p-4 rounded" style="width: 18rem; height: 6rem;">                   
                    <div class="">                       
                     <p class="fs-6 fw-bold" style="font-family: helvetica;">Australian Prudential Regulation Authority (APRA)</p>
                     <hr class="border border-secundary border-2 opacity-75" >            
                     
                    </div>
                </div>
            </div>

        </div>
        
        <div class="row pt-5">
            <div class="col-12 text-center">
                <img src="../../../../assets/Imagenes/Extras/figma/Industry.svg" class="w-25" alt="">
            </div>
        </div>


     <!-- White list -->

        <div class="row pt-5">
            <div class="col-12">
                <div class="text-light text-center">
                    <p class="fs-5">
                        To know more about us, our products and get early access click below 
                    </p>
                    <button class="btn btn-data fs-7 p-2" style="font-family: Bold;"> JOIN WAITLIST</button>
                </div>
            </div>
        </div>
    </div>
   
</body>
