
/* Colors */
:root{

   /* 
   // COLOR BLUE & WHITE //
    --primary: rgb(0, 183, 255);
    --secondary: rgb(255, 255, 255);

    --background-color-1: rgb(255, 255, 255);
    --background-color-2: rgb(0, 29, 32);
    --background-color-3: rgb(0, 183, 255);

    --header-active: rgb(0, 183, 255);
    --header-inactive: rgb(104, 104, 104); */


     /* // COLOR GREY & DARK // */
   /*  --primary:  rgb(0, 183, 255); 
    --secondary: #212529; 

    --background-color-1: #343A40; 
    --background-color-2: #6C757D;
    --background-color-3: #495057; 

    --header-active: rgb(0, 183, 255);
    --header-inactive: #E9ECEF; 

    --nav: #212529; 
    --footer: rgb(0, 183, 255);

    --primary-text: #E9ECEF; 

    --text-light: #E9ECEF; 
    --text-dark: #212529;  */


    /* // COLOR GREY// */
/*     --primary:  #121212;  
    --secondary: rgb(0, 183, 255);

    --background-color-1: #090909; 
    --background-color-2: #131313;
    --background-color-3: #090909; 
    --background-color-login: #090909;

    --header-active: rgb(0, 183, 255);
    --header-inactive: #E9ECEF; 

    --nav: #121212; 
    --footer: #181818;

    --primary-text: #E9ECEF; 

    --text-light: #E9ECEF; 
    --text-dark: #212529;  */

      /* // COLOR GREY// */
      --primary:  #121212;  
      --secondary: #23A6F0;
  
      --background-color-1: #252b42;
      --background-color-2: #131313;
      --background-color-3: #090909; 
      --background-color-login: #090909;
  
      --header-active: rgb(0, 183, 255);
      --header-inactive: #E9ECEF; 
  
      --nav: #252b42;
      --footer: #181818;
  
      --primary-text: #E9ECEF; 
  
      --text-light: #E9ECEF; 
      --text-dark: #212529; 
 
}


/* ---------------------------- */

/* Fonts */

@font-face {
    font-family: 'Regular';
    src: url("./assets/Fonts/OpenSans/OpenSans-Regular.ttf");
}

@font-face {
    font-family: 'Bold';
    src: url("./assets/Fonts/OpenSans/OpenSans-Bold.ttf");
}

@font-face {
    font-family: 'Fit';
    src: url("./assets/Fonts/OpenSans/OpenSans-Light.ttf");
}

@font-face {
    font-family: 'Bebas';
    src: url("./assets/Fonts/BebasNeue-Regular.otf");
}

@font-face {
    font-family: 'Easport';
    src: url("./assets/Fonts/EASPORTS15.ttf");
}

@font-face {
    font-family: 'TOMMYBold';
    src: url("./assets/Fonts/TOMMYBold.otf");
}

@font-face {
    font-family: 'TOMMYBlack';
    src: url("./assets/Fonts/TOMMYBlack.otf");
}

@font-face {
    font-family: 'Patron';
    src: url("./assets/Fonts/Patron.otf");
}

@font-face {
    font-family: 'Quantum';
    src: url("./assets/Fonts/Quantum.otf");
}

/* --------------------------- */